@using System.Globalization
@inject HttpClient _httpClient
@inject DialogService _dialogService

<RadzenCard>
    <div class="row">
        <div class="col-md-4">
            <div>Donor</div>
            <b>@Pledge.UserName (@Pledge.Name)</b>
            <div class="mt-3">Amount</div>
            <b><RadzenBadge BadgeStyle="BadgeStyle.Secondary" Class="price-badge" Text=@($"{String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", Pledge.Amount)}")></RadzenBadge></b>
            <div class="mt-3">% of Fund</div>
            <b>@Pledge.PercentageOfTotalFund.ToString("P", CultureInfo.InvariantCulture)</b>
        </div>
        <div class="col-md-4">
            <div>Pledge Time</div>
            <b>@Pledge.PledgeTime.ToString("dddd, dd MMMM yyyy HH:mm:ss")</b>
            <div class="mt-3">Approved Time</div>
            <b>@if (Pledge.ApprovedTime != null) {<span>@Pledge.ApprovedTime?.ToString("dddd, dd MMMM yyyy HH:mm:ss")</span>} else {<span>N/A</span>}</b>
            <div class="mt-3">FulfilledTime</div>
            <b>@if (Pledge.FulfilledTime != null) {<span>@Pledge.FulfilledTime?.ToString("dddd, dd MMMM yyyy HH:mm:ss")</span>} else {<span>N/A</span>}</b>
        </div>
        <div class="col-md-2">
            <div>Anonymous</div>
            <b>@if (Pledge.IsAnonymous) {<RadzenIcon Icon="check_circle" />} else {<RadzenIcon Icon="highlight_off" />}</b>
            <div class="mt-3">Match</div>
            <b>@if (Pledge.IsMatch) {<RadzenIcon Icon="check_circle" />} else {<RadzenIcon Icon="highlight_off" />}</b>
            <div class="mt-3">Deferred</div>
            <b>@if (Pledge.IsDeferred) {<RadzenIcon Icon="check_circle" />} else {<RadzenIcon Icon="highlight_off" />}</b>
        </div>
        @if (IsCommands)
        {
            <div class="col-md-2">
                <div></div>
                @if (Pledge.CanShowApproval()) {<span class="mr-2"><button class="btn btn-success w-100" @onclick="(() => ApprovePledge())">APPROVE</button></span>} else {<span></span>}
                <div class="mt-3"></div>
                @if (Pledge.CanShowRejection()) {<span class="mr-2"><button class="btn btn-danger w-100" @onclick="(() => RejectPledge())">REJECT</button></span>} else {<span></span>}
                <div class="mt-3"></div>
                @if (Pledge.CanShowEmphasize()) {<span class="mr-2"><button class="btn btn-warning w-100" @onclick="(() => EmphasizePledge())">EMPHASIZE</button></span>} else {<span></span>}
            </div>
        }
    </div>
</RadzenCard>

@code {
    [Parameter] 
    public Campaign Campaign { get; set; } = default!;

    [Parameter] 
    public Pledge Pledge { get; set; } = default!;

    [Parameter] 
    public bool IsCommands { get; set; } = false!;

    private string _commandConfirmation = "";

    private async Task ApprovePledge()
    {
        try
        {
            this._commandConfirmation = "";
            var command = new CampaignCommand();
            command.CampaignIdentifier = Campaign.Identifier;
            command.UserName = "2105551207"; //TODO: Organizer
            command.Command = CampaignCommand.APPROVE_PLEDGE;
            command.Arg1 = Pledge.Identifier;

            var response = await _httpClient.PostAsJsonAsync<CampaignCommand>($"function/campaigns/{Campaign.Identifier}/commands", command);
            if (!response.IsSuccessStatusCode) 
            {
                throw new ApplicationException($"{response.StatusCode}-{response.ReasonPhrase}");
            }

            this._commandConfirmation = await response.Content.ReadAsStringAsync();
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"There was a problem commanding: {ex.Message}");
        }
    }

    private async Task RejectPledge()
    {
        try
        {
            this._commandConfirmation = "";
            var command = new CampaignCommand();
            command.CampaignIdentifier = Campaign.Identifier;
            command.UserName = "2105551207"; //TODO: Organizer
            command.Command = CampaignCommand.REJECT_PLEDGE;
            command.Arg1 = Pledge.Identifier;

            var response = await _httpClient.PostAsJsonAsync<CampaignCommand>($"function/campaigns/{Campaign.Identifier}/commands", command);
            if (!response.IsSuccessStatusCode) 
            {
                throw new ApplicationException($"{response.StatusCode}-{response.ReasonPhrase}");
            }

            this._commandConfirmation = await response.Content.ReadAsStringAsync();
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"There was a problem commanding: {ex.Message}");
        }
    }

    private async Task EmphasizePledge()
    {
        string error = "";

        try
        {
            Console.WriteLine($"Firing a SignalR event from pledge tile: {Pledge.Identifier}");
            var response = await _httpClient.PostAsJsonAsync<Pledge>($"function/signalr/pledges", Pledge);
            if (!response.IsSuccessStatusCode) 
            {
                throw new ApplicationException($"{response.StatusCode}-{response.ReasonPhrase}");
            }
        }
        catch (HttpRequestException ex)
        {
            error = ex.Message;
            Console.WriteLine($"There was a problem emphasizing: {ex.Message}");
        }
        finally
        {
            await _dialogService.OpenAsync($"Pledge Emphasize", ds =>
                @<div>
                <p class="mb-4">@(string.IsNullOrEmpty(error) ? "Success. Pledge should appear on public views" : $"Sorry...ran into en error: {error}")</p>
                </div>, 
                new DialogOptions() { CloseDialogOnOverlayClick = true }
            );

        }
    }
}